server:
  port: 8082

spring:
  application:
    name: service-consumer
  cloud:
    nacos:
      config:
        server-addr: localhost:8848
        file-extension: yaml
        import-check:
          enabled: false
dubbo:
  application:
    name: service-consumer
  registry:
    address: nacos://127.0.0.1:8848
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/

# 开启Feign的负载均衡（默认已开启）
#feign:
#  client:
#    config:
#      default:
#        connectTimeout: 5000
#        readTimeout: 5000